{{!-- Template Code --}}
<div class="container-fluid">
  <header class="row align-items-center">
    <div class="col">
      <h1 id="logo">{{#link-to "index"}}Campy McCampground{{/link-to}}</h1>
    </div>
    <div class="col-auto asideToggle">
      {{nav-toggle-button outline=false text="I"}}
    </div>
  </header>
  <div class="row">
    <aside id="aside" class="col col-md-3">
      {{campground-navigation model=model}}
      <div id="stickyBottomButton">
        {{#bs-button type="primary" outline=true size="sm" click=(action (mut campgroundForm) true)}}&#65291; Campground{{/bs-button}}
      </div>
    </aside>
    {{!-- Kevin Love --}}
    {{outlet}}
    {{!-- /Kevin Love --}}
  </div>
</div>
{{!-- /Template Code --}}

{{!-- Modal Form --}}
{{modal-campground-form campgroundForm=campgroundForm model=model}}
{{!-- /Modal Form --}}